<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weight Prediction</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background: #000;">
    <div class="login">
        <h1>Weight Prediction</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
            <label class='block uppercase tracking-wide text-black-700 text-xs font-bold mb-2'
            for='Gender'>Gender</label>
            <input type="text" name="Gender" placeholder="Fill 0 for Male and 1 for Female" required="required" />
            <label class='block uppercase tracking-wide text-black-700 text-xs font-bold mb-2'
            for='Height'>Height</label>
            <input type="text" name="Height" placeholder="Height (Inch)" required="required" />


            <button type="submit" class="btn btn-primary btn-block btn-large">Predict Weight</button>
        </form>

        <br>
        <br> {{ prediction_text }}

    </div>


</body>

</html>